body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#allow-btn {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

#hacked-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}